In [1]:
import pandas as pd
import numpy as np

In [2]:
# Exploring data files
data_src_df = pd.read_csv("data/DATA_SRC.txt", sep = "^", header = None)
data_src_df.head()

,0,1,2,3,4,5,6,7,8
0,~D2028~,"~A. Sanchez-Marroquin, A. Feria-Morales, S. Ma...","~Processing, nutritional quality and sensory e...",~1987~,~Journal of Food Science~,~52~,~5~,NaN,NaN
1,~D3296~,"~C.E. Damon, B.C. Pettitt~",~Sugars and Sugar Products: High Performance L...,~1980~,~J. AOAC~,~63~,~3~,~476~,~480~
2,~D3315~,"~W.J. Hurst, R.A. Martin, B.L. Zoumas~",~Application of HPLC to Characterization of In...,~1979~,~Journal of Food Science~,~44~,NaN,~892~,~893~
3,~D3316~,"~J.L. Iverson, M.P. Bueno~",~Evaluation of high pressure liquid chromatogr...,~1981~,~Journal of the Association of Official Analyt...,~64~,~1~,~139~,~143~
4,~D3318~,~D.A. Kline~,~Quantitative determination of sugars in fruit...,~1970~,~Journal of AOAC International~,~53~,~6~,~1198~,~1202~

In [4]:
DATSRCLN_df = pd.read_csv("data/DATSRCLN.txt", sep = "^", header = None)
DATSRCLN_df.head()

         0      1      2
0  ~01001~  ~301~  ~S10~
1  ~01001~  ~301~  ~S11~
2  ~01001~  ~301~  ~S12~
3  ~01001~  ~301~   ~S6~
4  ~01001~  ~301~   ~S7~

In [5]:
DERIV_CD_df = pd.read_csv("data/DERIV_CD.txt", sep = "^", header = None)
DERIV_CD_df.head()

      0                                                  1
0   ~A~                                  ~Analytical data~
1  ~AI~  ~Analytical data; from the literature or  gove...
2  ~AR~    ~Analytical data; derived by linear regression~
3  ~AS~  ~Analytical data; derived by summation of comp...
4  ~BD~  ~Based on same food; Drained solids from solid...

In [6]:
FD_GROUP_df = pd.read_csv("data/FD_GROUP.txt", sep = "^", header = None)
FD_GROUP_df.head()

        0                         1
0  ~0100~  ~Dairy and Egg Products~
1  ~0200~        ~Spices and Herbs~
2  ~0300~              ~Baby Foods~
3  ~0400~           ~Fats and Oils~
4  ~0500~        ~Poultry Products~